* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  /* overflow: auto; */
  align-self: center;
}

.loginPage {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 50px;
  background-color: beige;
  border-radius: 10px;
  border-color:blanchedalmond;
  border-style: solid;
  transition-duration: 300ms;
}

.loginPage:hover {
  box-shadow: 11px -10px 2px 5px;
  transform: scale(1.05);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todolist-title {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
}

.todoItem {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  transition-duration: 300ms;
}

.todoItem:hover {
  background-color: #eeeeee;
  color: #555555;
}

.todo-info:hover {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: #555555;
  background-color: #eeeeee;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todoForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  position: absolute;
  top: 1%;
  color: red;
}

.logout {
  padding: 10px 20px;
  border-radius: 8px;
  transition-duration: 300ms;
}

.logout:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.sidebar {
  width: 256px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ivory;
  padding: 24px;
  border-radius: 30px;
}

.user-details {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.user-details .name {
  font-size: large;
  font-weight: 800;
  padding-bottom: 10px;

}

.menu .title {
  font-size: 15px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px #757575 solid;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;
}

.link {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  color: #757575;
  padding: 12px 8px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s;
  font-size: 15px;
}


.menu ul li:hover .link {
  color:black;
  background-color: #f6f6f6;
}

.todoform-btn {
  margin-bottom: 20px;
}