* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

span {
  display: block;
}

body {
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #0d6efd;

}

.app {
  display: flex;
  justify-content: center;
  /* min-width: 100vw; */
  min-height: 100vh;
  background: linear-gradient(0deg,#FFDEE9, #B5FFFC);
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  /* overflow: auto; */
  align-self: center;
}

.loginPage {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition-duration: 300ms;
}

.regisPage {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-self: center;
}

.welcome-loginpage {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: calc(100% + 120px); 
  margin-bottom: 10px;
  background-color: #0d6efd;
  margin-top: -60px;
  color: white;
  padding: 40px 60px 20px 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.welcome-regisPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: calc(100% + 120px); 
  margin-left: -60px;
  margin-top: -60px;
  padding: 30px 60px 20px 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #0d6efd;
  color: white;
}

.regisPage, .loginPage {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  background-color: white;
  padding: 60px;
  border-radius: 20px;
}

/* .loginPage:hover {
  box-shadow: 11px -10px 2px 5px;
  transform: scale(1.05);
} */

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
  height: 300px;
  /* border-bottom: 1px grey solid; */
}

.linebreak {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #555555;
  font-size: 12px;
}

.linebreak span {
  display: block;
  border-bottom: 1px grey solid;
  width: 132px;
}

.todolist-title {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
  border-bottom: 0.5px #555555 solid;
  padding-bottom: 10px;
}

.todo-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-info:hover {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: #555555;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

.buttonGroup Button {
  width: 150px;
  height: 50px;
}

.todoForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  position: absolute;
  top: 1%;
  color: red;
}

.logout {
  padding: 10px 20px;
  border-radius: 8px;
  transition-duration: 300ms;
}

.logout:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.sidebar {
  width: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 24px;
  justify-content: space-between;
  transition: width 200ms ease;
  gap: 50px;
}

.tab-icon {
  font-size: 25px;
  height: 100%
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar:hover {
  width: 256px;
}

.sidebar:hover .title,  
.sidebar:hover .tab-name, 
.sidebar:hover .name, 
.sidebar:hover .username {
  display: block;
}

.title, .tab-name, .name, .username {
  display: none;
}

.head, .menu {
  width: 100%;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-details .name {
  font-size: large;
  font-weight: 800;
  padding-bottom: 10px;

}

.menu {
  flex-grow: 1;
}

.menu .title {
  font-size: 15px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px #757575 solid;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;
}

.link {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  color: #757575;
  padding: 18px 15px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s;
  font-size: 15px;
}



.menu ul li:hover .link, .activeTab {
  color:black;
  background-color: lightgrey;
}

.todoform-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  font-size: 25px;
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.delete-btn-group {
  display: flex;
  justify-content: space-around;
}

.footer {
  font-size: 14px;
  color: grey;
  font-weight: 100;
  flex-shrink: 0;
}

.timer {
  color: red;
}

.deadline {
  color:#555555;
  font-weight: 100;
}

.form-login-label {
  color: #555555;
  font-size: 14px;
}

.btn-loginpage {
  font-size: 15px;
  text-transform:uppercase;
  width: 100%;
}

.regisForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: capitalize;
  color: #555555;
  width: 100%;
}

.login-reference-regisPage {
  display: flex;
  justify-content: center;
}


.pomoPage {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.pomoContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 73, 73);
  padding: 50px;
  border-radius: 30px;
  gap: 20px
}

.pomoSmallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pomoPic {
  height: 200px;
  width: 200px
}

.del-modal {
  color: red;
}

.quote-pomodoro {
  font-style: italic;
  font-size: 15px;
  color:#555555
}

.pomo-btn-group {
  display: flex;
  gap: 10px;
}

.pomo-btn-group Button {
  font-size: 30px;
}

.menu-pomo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu-pomo button {
  width: 200px;
  padding: 10px;
  border-style: none;
  font-size: 20px;
  border-radius: 10px;
  transition-duration: 300ms;
  color: white;
  background-color: rgb(186, 73, 73);
}

.clock-pomo {
  font-size: 100px;
  color: white;
}

.random-quote {
  color: black;
  font-size: 15px;
  align-self: center;
  margin-top: 30px;
  font-style: italic;
}

.tdl-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: 380px;
  gap: 50px;
}

.todoItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  transition-duration: 300ms;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  padding: 40px;
  font-size: 20px;
  border-radius: 20px;
  /* height: 380px; */
  width: 380px;
  overflow: hidden;
  background-color: white;
}

.todoItem:hover {
  background-color: #eeeeee;
  color: #555555;
  scale: 1.02;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 350px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0deg,#FFDEE9, #B5FFFC);
}

.modal-body {
  padding: 80px;
}

@media (max-width: 422px) {
  .loginPage {
    min-width: 90%;
  }
}

@media (max-width: 690px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 435px) {
  .pomoContainer {
    min-width: 350px; 
  }

  .clock-pomo {
    font-size: 70px;
  }
}

